/* index */
.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    background-image: url("../images/yonko-kilasi-juex154AuVA-unsplash.jpg");
    min-height: 640px;
  }
  .back {
    margin-right: 200px;
    margin-top: 30px;
    color: white !important;
  }
  /* All hood */
  .bg1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    min-height: 640px;
    background-image: url("../images/nairobi2.jpg");
  }
  /* profile */
  .bg2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    min-height: 250px;
    background-image: url("../images/landing.jpg");
  }
  /* results */
  .bg3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    min-height: 250px;
    background-image: url("../images/kids.jpg");
  }
  /* single hood */
  .bg4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    min-height: 250px;
  }
  /* Login page */
  .bg5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    background-image: url("../images/login.jpg");
    height: 720px;
  }