{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="bg1">
    {% include "navbar.html" %}
    <div class="centered" style="position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);">
        <h1 style="color: white; font-family: 'Squada One', cursive; font-size: 100px;">Hoods</h1>
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target=".bd-modal-md">CREATE
            HOOD</button>
    </div>
</div>
<div class="container" style="margin-top: -40px;">
    <div class="row">
        {% for hood in all_hoods %}
        <div class="col-md-4 mb-4">
            <div class="card " style="min-height:340px">
                <img src="{{ hood.hood_logo.url }}" class="card-img-top" alt="{{ hood.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ hood.name }}</h4>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        {{hood.location}}</p>
                    <p class="card-text">{{hood.description}}</p>
                    <a href="{% url 'join' hood.id %}"><button type="button" class="btn btn-outline-dark">JOIN
                            HOOD</button></a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<div class="modal fade bd-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                {% csrf_token%}
                {% bootstrap_form form layout='inline' %}
                <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}